Admin/__pycache__/urls.cpython-310.pyc
condidat/__pycache__/models.cpython-310.pyc
condidat/__pycache__/urls.cpython-310.pyc
condidat/__pycache__/views.cpython-310.pyc
condidat/migrations/__pycache__/0001_initial.cpython-310.pyc
filrage/__pycache__/settings.cpython-310.pyc
