/* Reset CSS */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Couleur de fond légère */
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #007bff; /* Couleur du titre */
}

.meta {
    color: #666;
    margin-top: 10px;
}

.meta p {
    margin-bottom: 5px;
}

/* Icon styles */
.fa-calendar-alt,
.fa-map-marker-alt,
.fa-clock {
    color: #007bff; /* Couleur bleue pour les icônes */
    font-size: 20px; /* Taille de police des icônes */
    margin-right: 5px; /* Espacement à droite des icônes */
}

/* Section styles */
section {
    margin-bottom: 20px;
}

section h2 {
    color: #007bff; /* Couleur bleue pour les titres de section */
    margin-bottom: 10px;
}

/* List styles */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    color: #666;
    line-height: 1.6;
}
/* Cacher le bouton de téléchargement par défaut */
input[type="file"] {
    display: none;
  }
  
  /* Style personnalisé du bouton de téléchargement */
  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
 /* Reset CSS */
 

/* Style pour le formulaire */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* Style pour le label du bouton de téléchargement */
label {
    background-color: #007bff; /* Couleur de fond bleue */
    color: #fff; /* Couleur du texte blanc */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Style pour le bouton Filtrer */
button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff; /* Couleur de fond bleue */
    color: #fff; /* Couleur du texte blanc */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Style au survol du label */
label:hover {
    background-color: #0056b3; /* Couleur de fond bleue plus foncée au survol */
}

/* Style au survol du bouton */
button:hover {
    background-color: #0056b3; /* Couleur de fond bleue plus foncée au survol */
}

  
  