{% extends 'admin.html' %}
{% block content%}

  <!-- -------- END HEADER 4 w/ search book a ticket form ------- -->
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n1 mb-4">
    <!-- START Testimonials w/ user image & text & info -->
    <section class="py-sm-7 py-5 position-relative">
      <div class="container">
        <div class="row">
          <div class="col-12 mx-auto">
           
            <div class="row py-5">
              <div class="col-lg-7 col-md-7 z-index-3 position-relative px-md-2 px-sm-5 mx-auto">
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <h3 class="mb-0">Bienvenu dans votre espace Admin</h3>
                 
                </div>
               
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>
    
    <!-- END Testimonials w/ user image & text & info -->
   
    <section class="container text-center" id="dash">
      <div class="row mt-6">
          <div class="col container stat" >
            <a href="{% url "candidate" %}"><h1 class="stat-h1-1">Candidat</h1></a>
          </div>
          <div class="col container stat">
            <a href="{% url "recruteur"%}"><h1 class="stat-h1-1">Recriteur</h1></a>
          </div>
      </div>
      <div class="row mt-6">
          <div class="col container stat">
            <a href=""><h1 class="stat-h1-2">Liste Noire</h1></a>
          </div>
          
      </div>
    </section>
      <!-- -------- START FOOTER 5 w/ DARK BACKGROUND ------- -->
   


{% endblock %}