{% extends 'admin.html' %}
{% block content %}
<section class="container text-center condidat" id="dash">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Téléphone</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
      {% for condidat in condidats  %}
      <tr>
        
        <td>{{condidat.1}}</td>
        <td>{{condidat.2}}</td>
        <td>{{condidat.3}}</td>
        <td>{{condidat.4}}</td>
        <td>
        <form method="post" action=""> 
          <input type="hidden" name="id" value="{{condidat.0}}">
          <button type="submit" class="btn btn-danger">DELETE</button>
        </form>
      </td>
        
        
      </tr>
     {%endfor%}
    </tbody>
  </table>
     
</section>
{%endblock%} 